@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Ultra&display=swap");

html {
  height: 100%;
}

body {
  background: #000;
  font: 1em normal "Comfortaa", cursive;
  margin: 0;
  padding: 0;
}

#container {
  background: #000 url("imgs/bg_pattern.gif") top center repeat;
  display: grid;
  align-content: center;
  height: 100vh;
  position: relative;
  width: 100vw;
}

#gridbox {
  align-content: center;
  background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='100%25' height='100%25' viewBox='0 0 800 800' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd%3Bclip-rule:evenodd%3Bstroke-linejoin:round%3Bstroke-miterlimit:2%3B'%3E%3Cg transform='matrix(4.34659 0 0 4.34659 -3896.16 -1952.56)'%3E%3Cpath d='M902.223 627.613C902.799 624.738 901.792 622.889 901.514 620.717C901.123 617.65 901.438 614.635 901.338 611.783C901.284 610.291 901.054 608.754 901.16 607.184C901.271 605.553 901.907 604.271 902.045 602.764C902.183 601.254 901.934 599.824 901.956 598.341C901.989 596.264 902.089 594.167 901.868 591.973C901.736 590.667 901.643 589.368 901.514 588.082C901.227 585.202 900.756 582.498 900.542 579.946C900.314 577.259 900.695 574.499 900.807 571.632C900.907 569.039 901.077 566.416 901.426 563.851C901.76 561.407 901.453 558.599 901.426 555.891C901.398 553.202 901.31 550.541 901.072 548.02C900.805 545.198 901.018 542.24 900.983 539.353C900.967 537.935 900.854 536.585 900.896 535.197C900.938 533.761 901.191 532.308 901.249 530.862C901.331 528.816 900.987 526.662 901.16 524.583C901.243 523.592 901.423 522.614 901.514 521.666C901.611 520.664 901.691 519.754 901.691 518.747C901.691 516.552 901.738 514.409 901.868 512.203C901.994 510.052 901.74 507.895 901.78 505.747C901.798 504.747 902.11 503.841 902.223 502.829C902.331 501.848 902.129 500.771 902.134 499.733C902.139 498.337 902.463 496.474 902.664 494.78C902.885 492.922 902.697 491.11 902.841 489.385C902.961 487.948 903.327 486.35 903.283 484.876C903.234 483.262 902.902 481.714 902.752 480.188C902.6 478.634 902.783 477.113 902.663 475.589C902.584 474.568 902.211 473.536 902.134 472.494C901.984 470.489 902.577 468.31 902.575 466.126C902.574 464.576 902.318 463.008 902.31 461.439C902.301 459.844 902.196 458.146 902.31 456.664C902.35 456.145 902.963 455.192 902.663 454.629C902.452 454.231 901.59 454.137 901.338 454.188C901.178 454.219 900.918 454.281 900.807 454.364C900.265 454.772 900.682 458.335 900.718 459.583C900.848 463.954 900.709 466.666 900.631 470.637C900.593 472.553 900.974 474.495 900.983 476.297C900.993 477.941 901.009 479.493 901.16 481.161C901.315 482.849 901.536 484.595 901.426 486.379C901.34 487.76 901.12 489.115 901.072 490.536C900.978 493.29 900.615 495.916 900.364 498.583C900.238 499.938 900.382 501.346 900.276 502.74C900.136 504.582 899.941 506.295 900.011 508.223C900.077 510.048 899.862 511.917 899.834 513.794C899.803 515.846 899.859 517.9 899.746 519.985C899.641 521.909 899.261 523.849 899.215 525.822C899.177 527.49 899.553 529.448 899.48 531.04C899.424 532.289 899.089 533.556 899.039 534.842C898.988 536.123 899.207 537.39 899.215 538.733C899.23 541.247 898.985 544.084 899.215 546.694C899.444 549.287 899.646 552.022 899.568 554.476C899.478 557.302 899.957 559.792 899.746 562.17C899.615 563.629 899.221 565.083 899.126 566.503C899.024 568.032 899.112 569.522 899.039 571.014C898.879 574.254 898.492 577.394 898.772 580.565C899.035 583.522 899.661 586.479 899.834 589.586C899.922 591.164 900.144 592.712 900.276 594.273C900.408 595.832 900.113 597.345 900.1 598.96C900.089 600.078 900.354 601.182 900.276 602.32C900.15 604.164 899.497 605.561 899.393 607.449C899.298 609.135 899.446 611.143 899.48 613.109C899.514 615.025 899.371 616.979 899.48 618.77C899.62 621.086 900.245 622.668 900.453 624.607C900.529 625.313 900.047 628.652 900.718 628.939C901.829 629.418 902.194 627.748 902.223 627.613Z' style='fill:rgb(245 245 245)%3Bfill-rule:nonzero%3B'/%3E%3C/g%3E%3Cg transform='matrix(4.52539 0 0 4.46184 -3343.32 -2014.3)'%3E%3Cpath d='M912.127 627.525C912.254 626.699 911.97 625.115 911.95 624.518C911.875 622.268 911.641 619.318 911.686 617.531C911.739 615.336 912.117 613.227 911.95 611.076C911.781 608.896 911.414 606.699 911.508 604.354C911.825 596.518 912.164 588.376 911.95 580.742C911.872 577.954 911.612 575.122 911.772 572.429C912.01 568.479 911.962 564.181 912.127 560.578C912.154 559.978 912.348 559.48 912.393 558.898C912.518 557.267 912.204 555.441 912.039 553.68C911.881 551.992 911.912 550.225 911.861 548.55C911.757 545.096 911.375 541.712 911.154 538.468C911.052 536.958 911.339 535.377 911.331 533.87C911.323 532.344 910.889 530.879 910.889 529.448C910.889 527.846 911.22 526.218 911.154 524.583C911.092 523.019 910.989 521.55 911.154 520.074C911.652 515.607 911.762 511.343 912.304 506.631C912.452 505.348 912.539 504.087 912.568 502.74C912.631 499.929 912.971 497.033 913.011 494.161C913.033 492.544 912.928 490.924 912.923 489.474C912.908 485.137 912.968 481.338 913.011 477.358C913.062 472.762 913.645 467.883 913.188 463.208C913.001 461.294 912.652 459.424 912.657 457.459C912.659 456.877 912.821 456.448 912.746 455.603C912.622 454.203 912.192 454.508 911.772 454.541C910.127 454.669 910.906 457.063 910.977 458.079C911.092 459.712 911.193 461.256 911.331 462.854C911.752 467.75 911.419 472.28 911.243 477.004C911.18 478.688 911.175 480.453 911.154 482.133C911.134 483.798 910.959 485.446 910.977 487.086C911.015 490.399 911.17 493.597 910.889 496.727C910.757 498.196 910.498 499.719 910.535 501.148C910.572 502.623 910.706 504.054 910.535 505.481C910.369 506.878 910.047 508.226 909.916 509.638C909.634 512.681 909.754 515.595 909.385 518.217C909.185 519.646 908.927 521.218 908.943 522.638C908.952 523.354 909.196 524.051 909.209 524.761C909.235 526.395 908.969 528.008 909.031 529.625C909.097 531.281 909.434 532.934 909.474 534.666C909.514 536.353 909.271 538.01 909.385 539.707C909.5 541.412 909.891 543.14 910.005 544.925C910.081 546.124 910.007 547.408 910.005 548.638C909.999 551.854 910.836 555.779 910.535 559.075C910.421 560.331 910.301 561.493 910.27 562.701C910.24 563.905 910.351 565.073 910.358 566.327C910.372 568.662 910.097 570.985 910.005 573.313C909.912 575.601 910.107 577.856 910.094 580.123C910.078 582.402 910.16 584.744 910.27 587.109C910.376 589.405 910.259 591.593 910.094 593.919C909.928 596.239 910.252 598.566 910.181 600.817C910.161 601.443 909.959 602.037 909.916 602.674C909.79 604.535 909.801 606.412 910.005 608.246C910.205 610.053 910.502 611.975 910.447 613.729C910.407 614.994 910.171 616.289 910.094 617.621C909.915 620.652 910.449 623.797 910.358 627.084C910.341 627.695 909.688 628.787 910.181 629.117C911.424 629.951 912.088 627.775 912.127 627.525Z' style='fill:rgb(245 245 245)%3Bfill-rule:nonzero%3B'/%3E%3C/g%3E%3Cg transform='matrix(2.67925e-16 4.37554 -4.37554 2.67925e-16 2766.5 -4345.11)'%3E%3Cpath d='M996.231 456.399C996.916 464.512 996.438 472.2 995.877 480.011C995.733 482.023 995.873 484.063 995.789 486.113C995.631 489.92 995.173 493.805 995.081 497.698C995.032 499.773 995.277 501.835 995.17 503.89C995.1 505.219 994.868 506.474 994.815 507.781C994.762 509.153 994.809 510.522 994.815 511.937C994.84 516.657 994.574 521.326 994.551 525.645C994.541 527.504 994.166 529.336 994.108 531.217C994.062 532.754 994.304 534.316 994.197 535.904C994.09 537.516 993.801 538.953 993.844 540.503C993.979 545.436 993.983 549.914 993.932 554.741C993.91 556.775 994.197 559.055 994.197 561.286C994.197 563.568 994.483 565.9 994.374 568.095C994.244 570.708 993.797 574.196 993.577 576.762C993.452 578.247 993.326 579.768 993.224 581.273C993.12 582.811 992.852 584.422 992.87 585.96C992.888 587.31 993.317 589.042 993.401 590.47C993.499 592.137 992.992 594.229 993.047 595.953C993.07 596.672 993.372 597.82 993.401 598.783C993.468 600.984 993.25 603.346 993.313 605.682C993.346 606.906 993.437 608.064 993.489 609.219C993.545 610.418 993.376 611.559 993.401 612.668C993.485 616.322 993.245 621.51 993.401 625.049C993.471 626.619 993.779 626.416 993.932 626.465C995.939 627.105 995.382 624.096 995.347 623.191C995.19 619.121 995.342 615.986 995.347 612.668C995.353 609.514 994.981 605.568 995.17 601.879C995.218 600.927 995.297 600.035 995.259 599.136C995.218 598.202 995.02 597.308 994.993 596.396C994.939 594.562 995.387 593.25 995.436 591.796C995.49 590.172 994.952 588.565 994.905 586.933C994.866 585.629 995.128 584.26 995.259 582.865C995.629 578.938 995.751 574.968 996.144 571.102C996.417 568.393 996.321 565.774 996.319 563.055C996.319 560.557 996.022 558.062 995.966 555.538C995.946 554.686 996.222 553.804 996.231 552.973C996.282 548.908 995.975 544.76 995.877 540.856C995.835 539.157 996.248 537.556 996.319 535.816C996.375 534.473 996.19 533.122 996.231 531.747C996.267 530.523 996.518 529.275 996.586 528.033C996.725 525.426 996.695 522.813 996.851 520.25C997.134 515.576 996.422 510.873 997.026 505.481C997.16 504.294 997.307 503.177 997.293 502.032C997.277 500.827 997.003 499.639 997.026 498.406C997.056 496.901 997.298 495.355 997.381 493.807C997.464 492.255 997.468 490.669 997.558 489.121C997.771 485.424 997.809 481.621 998.089 478.596C998.258 476.768 998.223 474.924 998.266 473.025C998.294 471.73 998.594 470.429 998.618 469.133C998.645 467.836 998.372 466.554 998.442 465.242C998.476 464.618 998.705 464.005 998.707 463.385C998.716 461.247 998.147 458.639 998.089 456.133C998.06 454.908 998.458 452.879 997.204 452.861C995.331 452.834 996.122 455.105 996.231 456.399Z' style='fill:rgb(245 245 245)%3Bfill-rule:nonzero%3B'/%3E%3C/g%3E%3Cg transform='matrix(2.67511e-16 -4.36879 4.36879 2.67511e-16 -1963.29 5360.29)'%3E%3Cpath d='M1048.85 456.399C1049 460.515 1048.33 463.68 1048.05 467.011C1047.91 468.74 1047.7 470.474 1047.7 472.317C1047.7 475.93 1047.3 479.534 1047.26 483.195C1047.22 486.823 1046.46 490.521 1046.64 494.25C1046.82 497.921 1046.72 501.603 1046.46 505.215C1045.68 516.118 1046.38 527.536 1047.26 537.85C1047.79 544.044 1047.35 550.359 1047.61 555.802C1047.72 558.1 1047.59 560.393 1047.7 562.701C1047.81 565.013 1048.11 567.381 1048.05 569.687C1048 572.062 1048.26 574.359 1048.23 576.674C1048.21 578.323 1047.93 579.921 1048.05 581.538C1048.18 583.159 1048.44 584.771 1048.41 586.313C1048.38 587.794 1048.16 589.402 1048.23 591C1048.31 592.568 1048.58 594.172 1048.41 595.599C1048.28 596.707 1047.72 597.809 1047.53 599.048C1047.35 600.144 1047.51 601.301 1047.44 602.586C1047.33 604.592 1047.31 606.814 1047.17 608.953C1046.97 611.912 1046.38 614.713 1046.55 617.178C1046.73 619.701 1047.17 621.16 1046.82 623.811C1046.7 624.699 1046.17 625.578 1046.82 626.021C1048.79 627.361 1049.11 622.012 1049.12 620.98C1049.13 619.605 1048.67 618.172 1048.59 616.736C1048.44 614.336 1049.15 611.547 1049.29 608.6C1049.45 605.461 1049.34 602.193 1049.56 599.667C1049.67 598.434 1050.39 596.949 1050.53 595.777C1050.78 593.794 1050.31 591.649 1050.35 589.674C1050.38 588.573 1050.61 587.522 1050.62 586.402C1050.64 584.866 1050.25 583.361 1050.18 581.803C1050.09 580.071 1050.45 578.334 1050.44 576.585C1050.44 574.879 1050.36 573.136 1050.27 571.456C1050.18 569.838 1050.26 568.214 1050.18 566.592C1050.1 564.97 1049.78 563.329 1049.74 561.728C1049.69 559.889 1049.91 558.024 1049.82 556.157C1049.64 552.361 1049.68 548.753 1049.65 545.013C1049.59 539.021 1049.09 533.573 1048.85 527.679C1048.78 525.797 1048.76 523.906 1048.59 522.019C1048.41 520.062 1048.36 518.04 1048.41 516.094C1048.45 514.333 1048.32 512.538 1048.41 510.788C1048.6 506.93 1049.18 503.06 1049.03 499.379C1048.73 492.25 1049.58 483.799 1049.91 476.385C1050 474.385 1049.75 472.345 1049.82 470.372C1049.89 468.644 1050.21 466.577 1050.53 464.712C1051.08 461.478 1050.96 458.192 1050.89 455.072C1050.85 453.597 1051.4 451.947 1049.74 452.33C1048.28 452.668 1048.79 454.901 1048.85 456.399Z' style='fill:rgb(245 245 245)%3Bfill-rule:nonzero%3B'/%3E%3C/g%3E%3C/svg%3E")
    center no-repeat;
  display: grid;
  margin: 0;
  padding: 44px;
  text-align: center;
}

.row {
  display: grid;
  justify-content: center;
}

#gridbox > .row:first-child {
}

.row > .column:first-child {
}

.column {
  background: #000;
  cursor: pointer;
}

.overlay {
  height: 100%;
  width: 100%;
}

/*-----------------*/
/* GRID SIZE BOX   */
/*-----------------*/
#msg_options {
  font: italic 1em Arial, Helvetica, sans-serif;
  height: 123px;
  position: absolute;
  width: 348px;
}

#msg_bubble {
  background: url("imgs/etch-frame-0423.png") no-repeat;
  background-size: 100% 100%;
  color: #fff;
  height: 100%;
  padding: 0 12px 6px;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 1;
}

#msg_drag {
  border-bottom: 1px #999 dashed;
  cursor: all-scroll;
  margin: 0 -5px 0 8px;
  padding: 25px 0 0;
  position: relative;
}
#msg_drag > h4 {
  margin: 0;
  padding-bottom: 6px;
}
#msg_prompt {
  height: 36px;
  padding: 13px 0 0;
  position: relative;
  z-index: 100;
}
input,
button {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid #999;
  border-radius: 4px;
  color: #fff;
  min-height: 32px;
  margin: 0;
  padding: 0 10px;
  position: relative;
  top: 0;
  width: 240px;
}
button {
  top: 2px;
  width: 44px;
}
#msg_error {
  background: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 3px 3px 6px rgb(0, 0, 0, 0.25);
  color: #000;
  font-style: normal;
  left: 21px;
  min-height: 44px;
  margin-left: 10px;
  padding: 12px 12px 0;
  position: relative;
  top: 0;
  width: 286px;
  z-index: 0;
}
/* END GRID SIZE BOX --*/

#reset {
  background: #f00;
  position: absolute;
  top: 0;
  left: 0;
}
